*{
    margin: 0;
    padding: 0;
}

body{
    /*background-color: rgb(225, 242, 243);*/
    /*height: 100vh;*/
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: rgb(255, 255, 255);
}

.topo{
    text-align: center;
    background-color: rgb(48, 41, 41);
    color: rgb(95, 160, 136);
    padding-bottom: 2vh;
    padding-top: 3%;
    margin-top: -2%;
    margin-left: 0%;
    height: 6vh;
    margin-left: -1%;

}

header{
    background-color: rgb(255, 255, 255);
    padding-top: 1%;
    padding-bottom: 0%;
    margin-left: 0%;
    flex-direction:row;
    display: flex;
    width: 100%;
    height: 20%;
}

main{
    /*height: 61vh;*/
    /*background-image: linear-gradient( to right, #86b7eb, rgb(28, 9, 9));*/
    /*background-image: linear-gradient( to right, #2fe0c9, rgb(146, 111, 111));*/
    background-image: linear-gradient(to bottom, #fff, rgb(48, 41, 41));
}

.post{
    /*background-color: rgb(219, 214, 204);*/
    /*padding-top: 0%;*/
    padding: 0% 0% 5% 0%;
    text-align: center;    
    width: 100%;
    /*background-color: rgb(141, 140, 138);*/
    background-color: rgb(235, 250, 248);
    /*background-color: rgba(114, 118, 119, 0.767);*/
}

.logo{
    width: 48vh;
    height: 26vh;
    margin: 0%;
    padding: 0%;
}

.bloco3{
    width: 100%;
    display: flex;
    justify-content:flex-start;
}

img{ /* Altera o tamanho da logo da Salve Sistemas*/
    width: 100%;
    height: 26vh;
    padding: 0%;
    margin: 0%;
}

.pcontato {
    text-decoration: none;
}

.comeca{
    display:flex;
    padding-top: 3vw;
    margin-left: 5%;
    justify-content: space-between;
    /*background-color:bisque;*/
}

.ic{
    list-style-type: none;
}

.cont{

    text-align: center;
    /*background-color: rgb(235, 250, 248);*/
    margin-top: 2vh;
    margin-bottom: 2vh;

}

.bloco2{
    padding-left: 0vw;
    padding-right: 20vw;
}

.locais {
    display: flex;
    justify-content: center;

}

.local{
    padding-top: 2vh;
    padding-left: 0vh;
    padding-right: 5vh;
    padding-bottom: 2vh;
    list-style-type: disc;
    text-align: center;
    font-family: kanit;
    color:rgb(92, 78, 59);
    
}

.local1{

    padding-top: 2vh;
    padding-left: 0vh;
    padding-right: 1vh;
    padding-bottom: 2vh;
    list-style-type: disc;
    text-align: center;
    font-family: kanit;
    color:rgb(92, 78, 59);

}

.mapa{
    width: 100%;
    height:100%;
    
}

.localizacao{
    /*background-color: #fff;*/
    padding-bottom: 2vh;
    padding-left: 2%;
    width: 50%;
}

.redesc a{
    text-decoration: none;
    color: black;
    font-family: kanit, 'Times New Roman', Times, serif;
    color:rgb(92, 78, 59);

}

.atendimento{
    text-align: center;
    font-style: italic;
    font-family: kanit, 'Times New Roman', Times, serif;
    color:rgb(92, 78, 59);
}

.rodape{
    background-color: rgb(48, 41, 41);
    color: rgb(95, 160, 136);
    text-align: center;
    padding: 5% 0% 5% 0%;
    margin-top: 0%;
    margin-bottom: -1%;
    margin-left: 0%;
    align-items: center;
    width: 100%;
    height: 6vh;
}



.emailt{
    text-decoration: none;
    color: rgb(95, 160, 136);
}

.fonet{
    text-decoration: none;
    color: rgb(95, 160, 136);
}

.menu{
    font-family: monospace;
    color: rgb(0, 0, 0);
    margin-right: 0;
    margin-left: 0%;  
    padding: 0%;
    width: 30%;
    height: 28vh;
    font-size: large;
    
}

a:hover{
    opacity: 0.7;
}

.menut{
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
    margin-top: 0%;
    padding: 0%;
    justify-content: space-around;
    height: 100%;
}

.menuli{
    padding-left: 5%;
    margin: 0%;
    margin-top: 100%;
    
}

.menuli a{
    text-decoration:none;
    /*color: black;*/
    /*color: rgb(65, 65, 65);*/ 
    color: rgb(0, 0, 0);
}

.texto{
   
    width: 50%;
    height: 20vh;
    margin-left: 5%;
    margin-top: 4%;
    margin-bottom: 0%;
    font-size: 6vh;
}

.stelefone{
    margin-bottom: 10%;
}

.midias{
    list-style-type: none;
    display: flex;
    padding-left: 47%;
    padding-bottom: 1%;
}

.redes{
    padding-right: 2%;
    text-decoration: none;
}

.redes a{
    color: rgb(95, 160, 136);
    }

.slide{
    width: 100%; /*Tamanho do slide dentro da section. Deixar em 100% se quiser a ocupação de toda a section*/
    height: 40%;
    overflow: hidden; /*Impede que o carrossel vaze*/
    border-radius: 2%;
    transition: all 0.4s;
    /*align-items: center;*/
  
}

.slides{
    width: 100%; /* Esse width tem que representar o número de elementos do carrossel * 100% para ocupar todo o slide
    Tentar deixar em fit-content para verificar se o comportamento deste combina com a lógica da programação do carrossel.*/
    display:flex; 
    padding-top: 2%; 
}


.image img{
    width:  50vw; /*Representa o tamanho da imagem. Fica no fit-content para padronizar os tamanhos*/
    height: 50vh; /*Nesse percentual permite a inclusão da tag <p>*/
    /*padding-left: 10%;
    padding-right: 10%;*/
    margin-left: 10%;
    border-radius: 5%;

}

.pag{
    display: flex; /*Foi criada a class pag para configurar texto e imagem do carrossel lado a lado, o que é permitido através do atributo 
    'flex';*/

}

.paragrafos{
    width: 50vw;
    height: 50vh;
    
}

.propaganda{
    margin-top: 20%;
    margin-left: 12%;
    margin-right: 10%;
    font-family: kanit, 'Times New Roman', Times, serif;
    color: rgb(243, 108, 30);
}

#atual{
    /*margin-left: -100%;*/
    transition: all 2s;
    
}

.texto4{
    /*background-color: rgb(235, 250, 248);*/
    text-align: center;
    font-style: italic;
    font-family: kanit, 'Times New Roman', Times, serif;
    color:rgb(92, 78, 59);
}

input{
    width: 99%;
}


.btn{
    position: absolute;
    color: rgba(48, 41, 41, 0.425);
    padding: 1%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 2.7em;
    margin-top: 20%;
}

.btn:hover{
    transform: scale(1.5);
}

#voltar{
    top: 50%;
    left: 10%;
}

#next{
    top: 50%;
    right: 10%;
}

.balls {
    position: absolute;
    width: 50%;
    display:flex;
    justify-content: center;
    margin-top: 1%;
    margin-left: 30%;
}

.escrever{
    width: 50vw;
    height: fit-content;
    margin-left: 2vw;
    background-color:rgba(58, 66, 57, 0.216);
    border-radius: 5%;
    padding: 1%;
    margin-right: 2%;
    
}

.campo{
    border-radius: 5%;
}

.descreve{
    margin-left: 2%;
}

.botao{
    width: 15%;
    margin-left: 45%;
    padding-bottom: 1%;
    margin-top: 0.5%;
    margin-bottom: 1%;
    padding-top: 1%;

}

.services{
    display: flow-root;
    width: 100%;
}

.picture1{
    width: 50%;
    height: fit-content;
    margin-top: 5%;
    margin-bottom: 5%;

}

.foto1{
    width: 45vw;
    height: 30vw;
}

.foto2{
    width: 48vw;
    height: 24vw;
    margin-top: -20%;
}

.foto3  {
    width: 45vw;
    height: 30vw;
    margin-top: -9vw;
}

.mot{
    text-align: center;
    font-style: italic;
    font-family: kanit, 'Times New Roman', Times, serif;
    font-size: 5vh;
    color: rgb(52, 52, 61);
}

.postagem1{
    display:flex; /*Verificar!!!! */
    margin-left: 2vw;
    width: 98%;
}

.postagem2{
    display:flex; /*Verificar!!!! */
    margin-left: 2vw;
    width: 98%;
}

.picture2{
    height: 50vw;
    height: 18vw;

}

.alinha{
    align-items: center;
    justify-content:center;
    height: 100%;
}

.inner{
    width: 50%;
    margin-top: 5%;
    margin-left: 2vw;
}

.servtexto1{
    width: 95%;
    padding-top: 3vw;
    font-family: kanit, 'Times New Roman', Times, serif;
    color: rgb(243, 108, 30);
    font-size: 4vh;
    text-align: center;

}

.servtexto3{
    width: 95%;
    margin-top: -2vw;
    font-family: kanit, 'Times New Roman', Times, serif;
    color: rgb(8, 8, 8);
    font-size: 4vh;
    text-align: center;

}

.servtexto2{
    width: 95%;
    margin-top: -4vw;
    font-family: kanit, 'Times New Roman', Times, serif;
    color: rgb(243, 108, 30);
    font-size: 4vh;
    text-align: center;

}

.vendedor{
    text-align: center;
    background-color: rgb(199, 39, 39);
    width: 50%;
    padding: 2%;
    margin-left: 22%;
    border-radius: 1%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.vende {
    text-decoration: none;
    color: black;
    
}

textarea{
    width: 99%;
}

legend{
    text-align: center;
    width: 15%;
    background-color: rgba(1, 1, 1, 0.121);
}

.balls div{
    transition: all 0.5s;
    border: 1% solid #fff;
    padding: 1%;
    border-radius: 50%;
    margin-right: 2%;
    cursor: pointer;
}

.balls div:hover{
    background: #fff;
}

.imgAtual{
    transition: all 0.5s;
    background: #fff;
}

.mobilecont{
    display: none;
}

@font-face {
    font-family: Kanit;
    src: url('Fontes/Kanit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@media (max-width: 1350px){
    .texto{
        padding: 0%;
        margin: 0%;
        font-size: 5vh;
    }

    .menuli{
        padding: 1%;
        font-size: medium;

    }

    .logo{
        width: 36vh;
        height: 20vh;
    }

    img{ /* Altera o tamanho da logo da Salve Sistemas*/
        width: 100%;
        height: 26vh;
        padding: 0%;
        margin: 0%;
    }
    .bloco2{
        padding-left: 0vw;
        padding-right: 7vw;
    }

    .comeca{
        margin-left: 2%;
    }

    .servtexto2{
        width: 95%;
        margin-top: -9vw;
        font-family: kanit, 'Times New Roman', Times, serif;
        color: rgb(243, 108, 30);
        font-size: 4vh;
        text-align: center;
    
    }

    
}


@media (max-width: 999px){

    *{
        margin: 0%;
        padding: 0%;
    }

    body{
        width: 100%;
    }

    .topo{
        text-align: center;
        background-color: rgb(48, 41, 41);
        color: rgb(95, 160, 136);
        margin-top: 0%;
        margin-left: 0%;
        width: 100%;
        height: fit-content;
    
    }

   header {
        display: flex;
        width: 100%;
        /*flex-direction:row;*/
        
        
    }

    .logo{
        width: fit-content;
        height: fit-content;
        margin: 0% 0% 0% 0%;
        
        
    }

    .image img{
        width: 50vw; /*Representa o tamanho da imagem. Fica no fit-content para padronizar os tamanhos*/
        height: 30vw; /*Nesse percentual permite a inclusão da tag <p>*/
        /*margin-right: 20%;
        margin-left: 20%;*/
        
    }

    .slides{
        padding-top: 15%; 
    }

    .paragrafos{
        width: 50vw;
        height: 50vw;
        
    }

    .propaganda{
        margin-top: 10%;
        margin-left: 12%;
        margin-right: 10%;
    }

    .texto{
   
        width: fit-content;
        height: 0vh;
        margin-left: 5%;
        margin-top: 3%;
        margin-bottom: 0%;
        font-size: 5vh;
    }

    .menu{
        font-family: monospace;
        color: rgb(0, 0, 0);
        width: 30vw;
        height: fit-content;
        margin-right: 1vh;
        margin-left: 0%;
        display: block;
        
    }

    .menuli{
        margin-top: 60%;
    }

   

    main{
        width: 100%;
    }
    
    .midias{
        padding-left: 0%; 
        padding-left: 47%;
    }

    .bloco2{
        padding-left: 0vw;
        
    
    }
    .escrever{
        width: 95%;
    }

}

@media(max-width: 960px){

    header{
        display: block;
    }

    .comeca{
        display:block;
        padding-top: 3vw;
        margin-left: 5%;
        justify-content: space-between;
        /*background-color:bisque;*/
    }

    .bloco2{
        display:none;
    }

    .bloco3{
        display: block;
    }

    .localizacao{
        width: 95%;
    }

    .logo{
        margin-left: 20%;
    }
    

    .texto{
   
        width: 98%;
        height: 0vh;
        margin-top: 5%;
        margin-bottom: 0%;
        margin-left: 0;
        font-size: 300%;
        text-align: center;
    }

    .menu{
        width: 50%;
    }

    .menuli{
        margin-top: 30%;
    }

    .foto2{
        margin-top: -5vh;
        
    }

    .foto3{
        margin-top: -10%;
    }

    .servtexto1{
        font-size: 2vh;
    }

    .servtexto2{
        font-size: 2vh;
    }

    .servtexto3{
        font-size: 2vh;
        margin-top: -5vh;
    }

    .btn{
        margin-top: 55%;
    }

}

@media(max-width: 850px){
    .propaganda{
        padding-top: 0%;
        margin-top: 0%;
    }
}

@media(max-width: 760px){
    .texto{
        padding-bottom: 2%;
    }
}

@media(max-width: 700px){
    .menuli{
        padding-top: 15%;

    }
    .image img{
        width: 50vw; /*Representa o tamanho da imagem. Fica no fit-content para padronizar os tamanhos*/
        height: 80%; /*Nesse percentual permite a inclusão da tag <p>*/
    }

    .propaganda{
        padding-right: 0%;
        margin-right: 0%;
    }

    .localizacao{
        width: 96%;
    }

    .escrever{
        margin-left: 2%;
        padding: 1%;
        margin-right: 0%;
        width: 94%;
        
    }

    .texto{
        padding-bottom: 2%;
    }

}

@media(max-width: 550px){

    *{
        margin: 0;
        padding: 0;
    }

    body{
        width: 100%;
        height: fit-content;
        background-color: rgb(255, 255, 255);
    }

    .topo{
        text-align: center;
        background-color: rgb(48, 41, 41);
        color: rgb(95, 160, 136);
        margin-top: 0%;
        margin-left: 0%;
        width: 100vw;
        height: fit-content;
    
    }

    header {
        display: inline-block; /*Garante que nessas dimensões o header ficará numa linha vertical semi-alinhada*/
        width: 100vw;
        height: fit-content;
    }

    .logo{
        width: 100vw;
        height: 100%;
        margin:0%;
    }

    .image img{
        width: 100vw; /*Representa o tamanho da imagem. Fica no fit-content para padronizar os tamanhos*/
        height: 50vh; /*Nesse percentual permite a inclusão da tag <p>*/
        margin-right: 0%;
        margin-left: 0%;
        
    }

    .post{
        margin: 0%;
        padding: 0% 0% 5% 0%;
        text-align: center;    
        width: 100%;
    }

    .slide{
        width: 100%;
    }

    .slides{
        width: 100%;
        padding-top: 2%; 
        /*justify-content: space-around;*/
    }

    .propaganda{
        padding-right: 0%;
        margin-right: 0%;
        margin-left: 0%;
    }
    
    img{
        width: 100vw;
        height: fit-content;
        margin-top: 2%;
    }    


    .texto{
        height: 15vh;
        margin-top: 4%;
        font-size: 4vh;
        text-align: center;
        margin-left: 0%;
        margin-bottom: 0%;
    }

    .menu{
        width: 100vw;
        margin: 0%;
        padding: 0%;
    }
    
    .fonet{
        display:block;
        width: 100%;
        padding-top: 2%;
    }
    
    .emailt{
        display: block;
        padding-bottom: 1%;
    }

    .menut{
        margin: 0%;
        padding: 0%;
        justify-content: space-around;
        width: 100%;
    }

    .menuli{

        padding-top: 0%;
        margin: 0%;
        padding: 0%;
        
    }

    main{
        width: 100%;
    }

    

    .btn{
        color: rgba(48, 41, 41, 0.425);
        padding: 1%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.4s;
        font-size: 2.7em;
        margin-top: 80%;
    }
    
    .rodape{
        background-color: rgb(48, 41, 41);
        color: rgb(95, 160, 136);
        text-align: center;
        margin: 0%;
        padding: 0%;
        padding-top: 5%;
        padding-bottom: 5%;
        width: 100%;
        height: fit-content;
        align-items: center;
        display: block;
    }
    
    .midias{
        margin-left: 35%;
        width: fit-content;
        padding-left: 0%;
    }

    .redes{
        margin-right: 25%;
    }

    .comeca{
        display: block;
        padding-top: 0%;

    }

    .bloco2{
        padding-left: 0vw;
        padding-top: 4%;
        padding-right: 0%;
        display: block;
    }

    .bloco3{
        width: 100%;
        display: block;
    }
    
    .locais {
        display:list-item;
        justify-content: center;
    
    }

    .localizacao{
        
        width: 98%;
    }

    .mapa{
        width: 98%;
        height: 80vw;
    }

    .escrever{
        width: 98%;
        margin: 0;
        padding: 1%;
    }

    legend{
        width: 18%;
    }

    .paragrafos{
        width: 100%;
        height: fit-content;
        
    }
    .bloco1{
        display: none;
    }
    
    .mobilecont{
        display: block;
        padding-top: 2%;
    }

    .mot{
        margin-top: 3%;
        margin-bottom: 0;
        padding-bottom: 0%;
        font-size: 5vh;
    }

    .postagem1{
        display:flex;
        flex-direction: column-reverse; /*Para fazer o display ficar em coluna reversa é necessário utilizar a combinação de propriedades das linhas 939 e 940 */
        margin-left: 2vw;
        width: 98%;
        
    }

    .postagem2{
        display:flex;
        flex-direction: column;
        margin-left: 2vw;
        width: 98%;
    }

    .servtexto1{
        width: 95%;
        padding-top: 0vw;
        font-family: kanit, 'Times New Roman', Times, serif;
        color: rgb(243, 108, 30);
        font-size: 4vh;
        padding-bottom: 5%;
    
    }

    .servtexto2{
        width: 95%;
        margin-top: -4vw;
        font-family: kanit, 'Times New Roman', Times, serif;
        color: rgba(84, 64, 53, 0.892);
        font-size: 4vh;
        text-align: center;
        padding-bottom: 5%;
    }

    .servtexto3{
        width: 95%;
        font-family: kanit, 'Times New Roman', Times, serif;
        color: rgba(8, 8, 8, 0.666);
        padding-bottom: 5%;
        font-size: 4vh;
    
    }

    .picture1{
        width: 100%;
        height: fit-content;
    }

    .picture2{
        height: 100%;
        height: fit-content;
    
    }

    .foto1{
        width: 98%;
        height: fit-content;
    }

    .foto3  {
        width: 98%;
        height: fit-content;
        margin-top: 0vw;
    }
    

    .foto2{
        width: 98%;
        height: fit-content;
        margin-top: 0%;
    }

    .inner{
        width: 100%;
        margin-top: 5%;
        margin-left: 0vw;
    }

    .vendedor{
        width: 100%;
        padding: 3% 0% 3% 0%;
        margin-left: 0%;
        border-radius: 2%;
    }
    
    .pag{

    display:block; /*Foi criada a class pag para configurar texto e imagem do carrossel lado a lado, o que é permitido através do atributo 
    'flex';*/
}






    
}

